/* color para el titulo principal h1 */

h1 {
    color: #731859;
    text-align: center;
}

/* body */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: gray;
}

/* Estilo para h2 */
h2{
    color: black;
}

/* espacio entre los parrafos */
p {
    margin: 5px 0;
    color:darkorange;
}

/* hr separar cada empleado */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}