/* color para el titulo principal h1 */

h1 {
    color: white;
    text-align: center;
}

/* body */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #2c2727;
    background-color: #432156
}

/* Estilo para h2 */

h2{
    color: yellow;
}

/* espacio entre los parrafos */

p {
    margin: 5px 0;
    color:white;
}

/* hr separar cada empleado */

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}